<!DOCTYPE html>
<html ng-app="dragList">
<head>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="HomeController as home">
<div>{{home.error}}</div>
<div id="users">
    <ul>
        <li ng-repeat="user in home.users">{{user.name}}</li>
    </ul>
</div>
    <div class="listContainer">
        <div ng-repeat="list in home.lists" class="list">
            <span class="listTitle">{{list.name}}</span>
        </div>
    </div>
</body>
</html>

