<!DOCTYPE html>
<html ng-app="dragList">

<head>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script>
        // todo move in controller, just to test behavior
        function over(ev) {
            ev.stopPropagation();
            ev.preventDefault();
            event.dataTransfer.dropEffect = 'move';
            console.log('dragover');
        }

        function drag(ev) {
            console.log('dragstart on user id ' + ev.target.id);
            let moved = { user: ev.target.id, list: ev.target.dataset.list }
            ev.dataTransfer.setData("text", JSON.stringify(moved));
        }

        function leave(ev) {
            ev.stopPropagation();
            ev.preventDefault();
            console.log('leave');
        }

        function enter(ev) {
            ev.stopPropagation();
            ev.preventDefault();
            console.log('enter');
        }

        function drop(ev) {
            ev.preventDefault();
            ev.stopPropagation();
            var data = JSON.parse(ev.dataTransfer.getData("text"));
            console.log('drop user ' + data.user + ' on list ' + ev.currentTarget.dataset.list + ' from list ' + data.list);
        }
    </script>
    </script>
</head>

<body ng-controller="HomeController as home">
    <div>{{home.error}}</div>

    <div class="listContainer">
        <div ng-repeat="list in home.lists" class="list">
            <span class="listTitle">{{list.name}}</span>
            <div id="users">
                <ul ondragover="over(event)" ondragenter="enter(event)" ondragleave="leave(event)"
                    ondrop="drop(event)" ng-attr-id="{{list.id}}" ng-attr-data-list="{{list.id}}">
                    <li draggable="true" ondragstart="drag(event)" ng-attr-id="{{user.id}}" ng-attr-data-list="{{list.id}}"
                        ng-repeat="user in list.users">{{user.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>